PUBLIC_SUPABASE_URL="https://chedwybrxwxgbrtqmlfc.supabase.co"
PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNoZWR3eWJyeHd4Z2JydHFtbGZjIiwicm9sZSI6ImFub24iLCJpYXQiOjE2NzI1NDE1MjcsImV4cCI6MTk4ODExNzUyN30.iXF4pYcNhvzWAiLcPD-6fkP5sOaP2SCcQdrqIUuqiYI"